<% include ../partials/header.ejs %>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Sobre a Série <%= serie.name %></h2>
                <form method="POST">
                    <div class="form-group">
                        Nome da Série: <%= serie.name %>
                    </div>
                    <p>
                        <a href="/series" class="btn btn-info"> Voltar</a>
                    </p>
                    <div>
                        <textarea class="form-control" name="comentario" id="comentario" cols="20" rows="5"></textarea>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-info">Adicionar Comentário</button>
                    </p>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <% serie.comments.forEach( c => { %>
                            <li class="list-group-item"><%= c %></li>
                            <% })%>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

<% include ../partials/footer.ejs %>