<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Minhas Séries - Renato Siqueira</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/sobre" class="icon solid fa-info-circle"><strong>Minhas Séries</strong> v2 - Renato Siqueira</a></h1>
					</header>

					<div style="display: flex; align-items: center; justify-content: space-between;">
						<a href='/' style="border-bottom: unset;">
							<img src='/images/logo.png' style="width: 15rem"/>
						</a>
						<a href="/nova" style="border-bottom: unset;">
							<button style="margin-right: 1rem;">Nova</button>
						</a>
						</div>